In [1]:
# Revision Regx
import re

# Q1.) Write a regX to match a 3 digit number followed by abc.

In [7]:
regx = '[0-9]{3}abc'

list_of_strings = ['786abc','786xyz','123ghy','342abc']

for string in list_of_strings:
    print(re.search(regx,string))

<re.Match object; span=(0, 6), match='786abc'>
None
None
<re.Match object; span=(0, 6), match='342abc'>

# Q2.) Write a regX to match a 3 digit number followed by 3 small alphabets

In [9]:
regx = '[0-9]{3}[a-z]{3}'

list_of_strings = ['786abc','786xyz','123ghy','342abc','2134xy']

for string in list_of_strings:
    print(re.search(regx,string))

<re.Match object; span=(0, 6), match='786abc'>
<re.Match object; span=(0, 6), match='786xyz'>
<re.Match object; span=(0, 6), match='123ghy'>
<re.Match object; span=(0, 6), match='342abc'>
None

# Q3.) Write a regX that start with a and end with z. "az,ae8934593u45jeksz,a234234z"

In [14]:
regx = '^a.*z$'

list_of_strings = ['az','ae8934593u45jeksz','a234234z','3a42abzct','a2az134xyt']

for string in list_of_strings:
    print(re.search(regx,string))

<re.Match object; span=(0, 2), match='az'>
<re.Match object; span=(0, 17), match='ae8934593u45jeksz'>
<re.Match object; span=(0, 8), match='a234234z'>
None
None

In [16]:
# what if the string should start with a no.
regx = '^[0-9].*z$'

list_of_strings = ['az','3ae8934593u45jeksz','234234z','3a42abzct','a2az134xyt']

for string in list_of_strings:
    print(re.search(regx,string))

None
<re.Match object; span=(0, 18), match='3ae8934593u45jeksz'>
<re.Match object; span=(0, 7), match='234234z'>
None
None

# Q4.) Write a regX that should match a pattern having atmost 3 and atleast 1 occurence of the small alphabets (range -> 1,3)

In [ ]:
20:00

In [19]:
# Doubt
def displayPerson(*args):
	for i in args:
		print(i)
displayPerson('Emma',25)

Emma
25

In [28]:
regx = '[a-z]{1,3}'

list_of_strings = ['abcd','12ab34','1234']

for string in list_of_strings:
    print(re.search(regx,string))

<re.Match object; span=(0, 3), match='abc'>
<re.Match object; span=(2, 4), match='ab'>
None

# Q.5) Write a program to print hello world if the given_string start with a and end with z (make a function to do this task)

In [31]:
def task(string):
    if re.search('^a.*z$',string):
        return 'hello world'

In [33]:
for i in ['az','apple','maz','aaaaaaazzzzzz','mangoaz','a243242skjskjskdfj##@#@z']:
    print(i,'-->',task(i))

az --> hello world
apple --> None
maz --> None
aaaaaaazzzzzz --> hello world
mangoaz --> None
a243242skjskjskdfj##@#@z --> hello world

In [ ]:
Advanced Topics on Regx:
    -> Grouping and Capturing
    -> Flags
    https://realpython.com/regex-python/

In [36]:
2**2

4

In [37]:
3**2

9

# Map Filter and Lambda

In [38]:
l = ['apple','mango','banana']

def task(i):
    return i+'cat'

In [39]:
map(task,l)

In [40]:
list(map(task,l))

['applecat', 'mangocat', 'bananacat']

In [ ]:
Q store even if len of the word is even
  store odd if len of the word is odd.

In [43]:
def odd_even(i):
    if len(i)%2==0:
        return i+' even'
    else:
        return i+' odd'

In [44]:
list(map(odd_even,['apple','mango','banana','pineapple','kiwi','dragonfruit','peach','watermelon']))

['apple odd',
 'mango odd',
 'banana even',
 'pineapple odd',
 'kiwi even',
 'dragonfruit odd',
 'peach odd',
 'watermelon even']

In [45]:
x = odd_even('apple')

In [46]:
print(x)

apple odd

In [47]:
def odd_even(i):
    if len(i)%2==0:
        print(i+' even')
    else:
        print(i+' odd')

In [48]:
x = odd_even('apple')

apple odd

In [49]:
print(x)

None

In [52]:
list(map(len,['apple','mango','kiwi']))

[5, 5, 4]

In [55]:
def if_even(i):
    if i%2==0:
        return 'True'
    else:
        return 'False'

In [56]:
list(filter(if_even,[1,2,3,4,5]))

[1, 2, 3, 4, 5]

In [ ]:
'True' => this is a string which contains some char.
it is diff from True

In [57]:
bool('True')

True

In [61]:
bool('False')

True

In [59]:
bool(False)

False

In [ ]:
false_equivalents = ['',[],{},set(),0,0.0,None,False]

In [ ]:
# Most used usecase of map function.

In [62]:
x = input()

34

In [63]:
# What is the type of x?
# str
type(x)

str

In [64]:
'The quick brown fox jumps over a lazy dog'.split(' ')

# What will be the output?

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']

In [65]:
x = input()

The quick brown fox jumps over a lazy dog

In [66]:
x.split(' ')

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']

In [67]:
y = input().split(' ')

The quick brown fox jumps over a lazy dog

In [68]:
print(y)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']

In [69]:
y = input().split(' ')

10 20 30 40

In [70]:
print(y)

['10', '20', '30', '40']

In [ ]:
# '10' is str above

In [71]:
int('10')

10

In [72]:
z = list(map(int,input().split(' ')))

10 20 30 40

In [73]:
print(z)

[10, 20, 30, 40]

## Tuple Unpacking

In [74]:
x = ('apple','mango')

In [75]:
y,z = x

In [76]:
print(y)

apple

In [77]:
print(z)

mango

In [78]:
x = ['apple','mango']

In [79]:
y,z = x

In [80]:
print(y)

apple

In [81]:
print(z)

mango

In [82]:
a,b = list(map(int,input().split(' ')))

10 20

In [83]:
print(a)

10

In [84]:
print(b)

20

In [1]:
l = [1,2,3,4]
m = [5,6,7,8]

In [2]:
def add_10(i):
    return i+10

In [4]:
list(map(add_10,l))

[11, 12, 13, 14]

In [5]:
list(map(add_10,m))

[15, 16, 17, 18]