## How to open jupyter notebook
1.) Open cmd:  
2.) type jupyter notebook and press enter.

In [2]:
print('Hello World!')
print(400)

Hello World!
400

# Heading

## Sub Heading

### Sub Sub Heading 

#### Sub heading....

In [ ]:
Green Color: Typing Mode
    
Blue color: Command mode

How to get into a cmd mode?
By pressing Esc.

In command mode:
    1) you can delete a cell by pressing dd.
    2) By pressing m you can convert a cell into markdown cell.

## Hi

In [ ]:
How to Run a Cell:
    Shift+Enter
    
This will also create a new cell.

In [3]:
print('hello world!')

hello world!

In [ ]:
There are different Types of Data which you may want to store while creating a Program

123
67.89
'Pushkaraj Dhoot'
[12,45,89,90]
{'Pavan P':23, 'Kunal Wagh':34}
True
False
{23,78,48}

'6b Jagdamba Nagar Jaipur'

In [ ]:
To store different kinds of data, we have data types

1) Pre-defined Data Types.
2) User defined Data Types.

## Pre-defined Data Types.

In [ ]:
Data Types:
    1) int 10,12,-90,67
    2) float 10.33,3.14,55.78,-0.07,-7.8,4.0
    3) str 'Rahul' ,"sumit" , """This is also a string""" "56.78" "78" , "@#78Computer",
    "I'm learning Python"
    4) list [12,'Rahul',3.14] : mutable
    ['Python','Java','C#','Javascript']
    [20,40,60,80,100,'Python',['A','B','C']]
    
    Immutable: We can not edit(update,add,delete items)
    
    5) tuple ('apple','kiwi','mango',24,48,50.78) : immutable
        
    6) dict key:value pairs
        {'Python':3, 'Mohit':59, 'C++':11, 'Pushkaraj':'Dhoot'}
        - dict are also not ordered.
        - they does not contain duplicate keys.
    7) set {10,20,30,40,40} -it does not contain duplicates.
                            -sets are unordered
        
        #Note:
        keys in dict and elements in sets:
            1) they are unique.
            2) they are immutable.
            
    8) bool True, False
    
    9) None

In [ ]:
['Python','Java','C#','Javascript']

In [ ]:
x = 400

In [7]:
x = [1,2,3]

x[2] = 30

In [8]:
print(x)

[1, 2, 30]

In [9]:
x = (1,2,3)

x[2] = 30

# This will generate an error
# These data types which we can't change are known as immutable data types.

TypeError: 'tuple' object does not support item assignment

In [12]:
x = {50,10,20,30,40,40,30,30,30,30}

print(x)

{40, 10, 50, 20, 30}

In [16]:
x = {'Python':3, 'Java':8, 'Python':2, 'C++':4, 'PYTHON':3}

print(x)

{'Python': 2, 'Java': 8, 'C++': 4, 'PYTHON': 3}

In [17]:
y = None

In [18]:
print(y)

None

In [19]:
## Assignment: Assigning something to a variable.

x = True

y = False

z = [12,50.90,'Happy Faces',('a','b'),True, False, {10,10,10}, {'apple':3,'kiwi':6}]

In [20]:
print(z)

[12, 50.9, 'Happy Faces', ('a', 'b'), True, False, {10}, {'apple': 3, 'kiwi': 6}]

In [21]:
num1 = 100
num2 = 200
num3 = num1 + num2
print(num3)

300

In [22]:
num1 = 100.50
num2 = 200
num3 = num1 + num2
print(num3)

300.5

In [27]:
## Naming Rules:
# 1) Name should start only with alphabet or underscore.
# 2) Special chars and numbers can come in between.
# 3) We can not use space in between a name.
# 4) Never use a name which is a python keywords

_5t = 100

In [28]:
# Info about Karan
email = 'karanchandraarya@gmail.com'
roll_no = 16
subject_marks = {'mathematics':98 , 'computer':90 , 'Calculus':87}
is_boy = True
fav_fruits = {'apple','kiwi','mango','apple'}
height = 170.005
friends = ['Mohammed Sadiq Imad','vikrant deshkar','aman']
dob =  (8,1,2001)# (mm,dd,yyyy)
have_any_scars = None

In [ ]:
type() is builtin Functionality

In [40]:
print(type(have_any_scars))

<class 'NoneType'>

In [39]:
x = 400
print(type(x))

<class 'int'>

In [ ]:
Exercise:
    int

In [41]:
a = 90.0
print(type(a))

<class 'float'>

In [44]:
a = 54

a = 'Mohit'

In [45]:
print(a)

Mohit

In [46]:
print(type(a))

<class 'str'>

In [48]:
x = float('-inf')

In [52]:
x = float('inf')

In [53]:
print(x)

inf

In [54]:
x > 344534

True

*PYTHON IS CASE SENSITIVE*

In [56]:
roll_no = none

# will not work